<script type="text/javascript">

  window.DB = window.DB || {};
  DB.PreOrder = DB.PreOrder || {};
  
  DB.PreOrder.config = DB.PreOrder.config || {};
  DB.PreOrder.config.shopOrigin  = "{{-shop.permanent_domain-}}";
  DB.PreOrder.config.moneyFormat = "{{-shop.money_format | replace: '"', "'"-}}";   

  DB.PreOrder.product = {{-product | json-}};
  DB.PreOrder.cartItems = {{-cart.items | json-}};
</script>

{%- assign random_number = "now" | date: "%N" | modulo: 9 | minus: 0 | plus: 0 -%}
<script src="{{ 'db.preorder.data.js' | asset_url | append:random_number}}" type="text/javascript"></script>

<script>
  {%- if product -%}
  
    DB.PreOrder.product.settings = (parseInt({{ product.id }}) in DB.PreOrder.preorderSettings) ? DB.PreOrder.preorderSettings[{{ product.id }}] : {};
    
    {%- for variant in product.variants -%}
      DB.PreOrder.product.variants[{{forloop.index0}}] = {{variant | json}};
      DB.PreOrder.product.variants[{{forloop.index0}}].inventoryQuantity = parseInt({{variant.inventory_quantity}});
        
      if((parseInt({{ product.id }}) in DB.PreOrder.preorderSettings)){
        if(DB.PreOrder.product.settings.settingType == 'variant'){
          if(DB.PreOrder.product.settings.variants && DB.PreOrder.product.settings.variants[{{-variant.id-}}]){
            DB.PreOrder.product.variants[{{forloop.index0}}].settings = DB.PreOrder.product.settings.variants[{{-variant.id-}}];
          }else{
            DB.PreOrder.product.variants[{{forloop.index0}}].settings = DB.PreOrder.product.settings.default;
            DB.PreOrder.product.variants[{{forloop.index0}}].settings.enable = false;
          }
        }else{
          DB.PreOrder.product.variants[{{forloop.index0}}].settings = DB.PreOrder.product.settings.default;
        }

        DB.PreOrder.product.variants[{{forloop.index0}}].translation = DB.PreOrder.translation.message;
        if(DB.PreOrder.product.variants[{{forloop.index0}}].settings.message.enable === true){
          DB.PreOrder.product.variants[{{forloop.index0}}].translation = Object.assign({}, DB.PreOrder.product.variants[{{forloop.index0}}].translation, DB.PreOrder.product.variants[{{forloop.index0}}].settings.message);
        }
      }
    {%- endfor -%}
      
    DB.PreOrder.product.collections = {{ product.collections | map: 'id' | json }};
    DB.PreOrder.product.firstAvailableVariant = {{ product.first_available_variant | json }};
    DB.PreOrder.product.selectedVariant = {{ product.selected_variant | json }};
  {%- endif -%}
  {% if cart.items %}
    var dbMixPopupHtml = '';
    if(DB && DB.PreOrder && DB.PreOrder.settings && DB.PreOrder.settings.mixCartWarning && DB.PreOrder.settings.mixCartWarning === true){
      dbMixPopupHtml += '<div class="db-mx-cart-popup">';
      dbMixPopupHtml += ' <div class="db-mxc-popup-box">';
      dbMixPopupHtml += '  <a class="db-mxc-pop-close">';
      dbMixPopupHtml += '   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" width="20" height="20">';
      dbMixPopupHtml += '    <path d="M40.17 43.42L0.17 3.42L3 0.6L43 40.6L40.17 43.42ZM3 43.42L0.17 40.6L40.17 0.6L43 3.42L3 43.42Z"/>';
      dbMixPopupHtml += '   </svg>';
      dbMixPopupHtml += '  </a>';
      dbMixPopupHtml += `  <h2>${DB.PreOrder.translation.mixCartWarningTitle}</h2>`;
      dbMixPopupHtml += `  <p>${DB.PreOrder.translation.mixCartWarningContent}</p>`;
      dbMixPopupHtml += '  <label>';
      dbMixPopupHtml += `   <input type="checkbox" class="db-mix-war-stop"> ${DB.PreOrder.translation.mixCartWarningCheckboxLabel}`;
      dbMixPopupHtml += '  </label>';
      dbMixPopupHtml += ' </div>';
      dbMixPopupHtml += '</div>';
      document.querySelector('body').insertAdjacentHTML('beforeend', dbMixPopupHtml);
    }
  {%- endif -%}
</script>

<style>
  .db-preorder-hidden {display: none !important;}
  .db-preorder-top-message, .db-preorder-bottom-message {
    padding: 3px 6px;
    display: block;
    clear: both;
    flex: 0 0 100%;
    margin: 5px 0 10px;
    border-radius: 2px;
    text-align: left;
  }
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

  .db-mxc-opened {overflow: hidden;}
  .db-mxc-opened .db-mx-cart-popup {opacity: 1;visibility: visible;}

  .db-mx-cart-popup, .db-mx-cart-popup * {box-sizing: border-box;}
  .db-mx-cart-popup {position: fixed;top: 0;left: 0;width: 100%;height: 100%;display: flex;background: rgba(0,0,0,.3);padding: 10px;overflow: hidden;overflow-y: auto;opacity: 0;visibility: hidden;transition: all .2s ease;z-index: 999999999;}
  .db-mx-cart-popup .db-mxc-popup-box {max-width: 480px;width: 100%;display: block;font: normal 400 15px/1.4 'Inter', sans-serif;letter-spacing: normal;color: #000;background: #FFF;padding: 25px;border-radius: 6px;margin: auto;position: relative;text-align: center;box-shadow: 1px 3px 7px rgb(0, 0, 0, .3);}
  .db-mx-cart-popup .db-mxc-pop-close {position: absolute;top: 0;right: 0;width: 40px;height: 40px;cursor: pointer;}
  .db-mx-cart-popup .db-mxc-pop-close svg {width: 14px;height: 14px;display: block;fill: currentColor;margin: 12px;}
  .db-mx-cart-popup h2 {font: normal 700 22px/1.2 'Inter', sans-serif;letter-spacing: normal;color: #000;padding: 0;margin: 0 0 15px;text-transform: none;text-align: center;}
  .db-mx-cart-popup p {font: normal 400 15px/1.4 'Inter', sans-serif;letter-spacing: normal;color: #000;padding: 0;margin: 0 0 15px;text-transform: none;text-align: center;}
  .db-mx-cart-popup label {font: normal 400 15px/1.4 'Inter', sans-serif;letter-spacing: normal;color: #000;display: inline-block;padding: 0;margin: 0;text-transform: none;text-align: center;cursor: pointer;}
  .db-mx-cart-popup label input[type="checkbox"] {width: 14px;height: 14px;display: inline-block;vertical-align: middle;margin: -1px 3px 0 0;cursor: pointer;}

  @media only screen and (max-width: 799px) {
    .db-mx-cart-popup .db-mxc-popup-box {font-size: 14px;padding: 25px 20px;}
    .db-mx-cart-popup h2 {font-size: 20px;}
    .db-mx-cart-popup p, .db-mx-cart-popup label {font-size: 14px;}
  }
</style>