{% if template contains 'index' %}
<script>
  gtag('event', 'page_view', {
    'send_to': 'AW-10903974377',
    'ecomm_pagetype': 'home'
  });
  gtag('event', 'page_view', {
    'send_to': 'AW-10934173755',
    'ecomm_pagetype': 'home'
  });
  gtag('event', 'page_view', {
    'send_to': 'AW-10811764948',
    'ecomm_pagetype': 'home'
  });
</script>
{% elsif template contains 'collection' %}
<script>
  gtag('event', 'view_item_list', {
    'send_to': 'AW-10903974377',
    'ecomm_pagetype': 'category'
  });
  gtag('event', 'view_item_list', {
    'send_to': 'AW-10934173755',
    'ecomm_pagetype': 'category'
  });
  gtag('event', 'view_item_list', {
    'send_to': 'AW-10811764948',
    'ecomm_pagetype': 'category'
  });
</script>
{% elsif template contains 'product' %}
<script>
 gtag('event', 'view_item', {
  'send_to': 'AW-10903974377',
  'ecomm_pagetype': 'product',
  'ecomm_prodid': 'shopify_US_{{ product.id }}_{{ product.selected_or_first_available_variant.id }}',
  'ecomm_totalvalue': '{{ product.price | money_without_currency | remove: ',' }}'
 });
 gtag('event', 'view_item', {
  'send_to': 'AW-10934173755',
  'ecomm_pagetype': 'product',
  'ecomm_prodid': 'shopify_US_{{ product.id }}_{{ product.selected_or_first_available_variant.id }}',
  'ecomm_totalvalue': '{{ product.price | money_without_currency | remove: ',' }}'
 });
 gtag('event', 'view_item', {
  'send_to': 'AW-10811764948',
  'ecomm_pagetype': 'product',
  'ecomm_prodid': 'shopify_US_{{ product.id }}_{{ product.selected_or_first_available_variant.id }}',
  'ecomm_totalvalue': '{{ product.price | money_without_currency | remove: ',' }}'
 });
</script>
{% elsif template contains 'cart' %}
<script>
  gtag('event', 'view_cart', {
    'send_to': 'AW-10903974377',
    'ecomm_pagetype': 'cart',
    'ecomm_prodid': [{% for item in cart.items %}'shopify_US_{{ item.product.id }}_{{ item.variant.id }}'{% unless forloop.last %},{% endunless %}{% endfor %}],
    'ecomm_totalvalue': '{{cart.total_price | money_without_currency | remove: ',' }}'
 });
  gtag('event', 'view_cart', {
    'send_to': 'AW-10934173755',
    'ecomm_pagetype': 'cart',
    'ecomm_prodid': [{% for item in cart.items %}'shopify_US_{{ item.product.id }}_{{ item.variant.id }}'{% unless forloop.last %},{% endunless %}{% endfor %}],
    'ecomm_totalvalue': '{{cart.total_price | money_without_currency | remove: ',' }}'
 });
  gtag('event', 'view_cart', {
    'send_to': 'AW-10811764948',
    'ecomm_pagetype': 'cart',
    'ecomm_prodid': [{% for item in cart.items %}'shopify_US_{{ item.product.id }}_{{ item.variant.id }}'{% unless forloop.last %},{% endunless %}{% endfor %}],
    'ecomm_totalvalue': '{{cart.total_price | money_without_currency | remove: ',' }}'
 });
</script>
{% elsif template contains 'search' %}
<script>
  gtag('event', 'view_search_results', {
    'send_to': 'AW-10903974377',
    'ecomm_pagetype': 'searchresults'
  });
  gtag('event', 'view_search_results', {
    'send_to': 'AW-10934173755',
    'ecomm_pagetype': 'searchresults'
  });
  gtag('event', 'view_search_results', {
    'send_to': 'AW-10811764948',
    'ecomm_pagetype': 'searchresults'
  });
</script>
{% else %}
<script>
  gtag('event', 'page_view', {
    'send_to': 'AW-10903974377',
    'ecomm_pagetype': 'other'
  });
  gtag('event', 'page_view', {
    'send_to': 'AW-10934173755',
    'ecomm_pagetype': 'other'
  });
  gtag('event', 'page_view', {
    'send_to': 'AW-10811764948',
    'ecomm_pagetype': 'other'
  });
</script>
{% endif %}