<!DOCTYPE html>
<html class="template-password" lang="{{ request.locale.iso_code }}">
<head>
  {% render 'head-tag' %}
  <link rel="preload" href="{{ 'styles.css' | asset_url }}" as="style">
  <title>{{ shop.name | escape }}</title>
  {{ 'styles.css' | asset_url | stylesheet_tag }}
  <script>
    window.theme = window.theme || {};
    theme.strings = {
      general_accessibility_labels_close: {{ 'general.accessibility_labels.close' | t | json }},
      previous: {{ 'general.accessibility_labels.previous' | t | json }},
      next: {{ 'general.accessibility_labels.next' | t | json }}
    };
    theme.settings = { quickbuy_style: null };
    document.documentElement.classList.add('js');
  </script>
  {{ content_for_header }}

  {% render 'shogun-head' %}
</head>
<body>

  {{ content_for_layout }}

  {{ 'vendor.js' | asset_url | script_tag }}
  {{ 'theme.js' | asset_url | script_tag }}
</body>
</html>
