{% capture chevron_right %}<span class="icon-small icon-natcol">{% render 'svg-chevron-right' %}</span>{% endcapture %}
<div data-section-type="blog-template">
  {% paginate blog.articles by 12 %}
  <div class="container">
    {% if section.settings.show_page_title %}
      <div class="page-header" data-cc-animate>
        <h1 class="majortitle">{{ blog.title }}</h1>
      </div>
    {% endif %}

    <div class="utility-bar" data-cc-animate>
      <div class="utility-bar__left">
        {% if blog.all_tags.size > 0 %}
          <div class="utility-bar__item">
            <div class="link-dropdown link-dropdown--left-aligned link-dropdown--with-icon">
              <div class="visually-hidden" id="filter-dropdown-heading">{{ 'collections.filtering.filter' | t | escape }}</div>
              <button class="link-dropdown__button notabutton" aria-expanded="false" aria-controls="filter-dropdown-options" aria-describedby="filter-dropdown-heading">
                <span class="link-dropdown__button-text">
                  <span class="link-dropdown__button-prefix-icon">{% render 'svg-filter', stroke_width: 1.3 %}</span>
                  {%- if current_tags -%}
                    {{- current_tags | join: ', ' -}}
                  {%- else -%}
                    {{- 'collections.filtering.filter' | t -}}
                  {%- endif -%}
                </span>
                <span class="link-dropdown__button-icon">{% render 'svg-chevron-down', stroke_width: 1.3 %}</span>
              </button>
              <div class="link-dropdown__options" id="filter-dropdown-options">
                {% if current_tags %}
                  <a href="{{ blog.url }}" class="link-dropdown__link">
                    {{- 'collections.filtering.all' | t -}}
                  </a>
                {% endif %}

                {% for tag in blog.all_tags %}
                  <a href="{{ tag | link_to_tag: tag | split: 'href="' | last | split: '"' | first }}"
                    class="link-dropdown__link{% if current_tags contains tag %} link-dropdown__link--active{% endif %}">
                    {{- tag -}}
                  </a>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
      </div>

      {% if section.settings.show_sharing_icons or section.settings.show_rss_icon %}
        <div class="utility-bar__right" data-cc-animate>
          {% if section.settings.show_sharing_icons %}
            <span class="utility-bar__item desktop-only">
              {% render 'social-sharing', share_title: blog.title, share_permalink: blog.url, share_image: false %}
            </span>
          {% endif %}
          {% if section.settings.show_rss_icon %}
            <a class="rsslink utility-bar__item" href="{{ blog.url }}.atom" title="{{ blog.title | escape }} RSS">{% render 'svg-rss' %}</a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>

  {% if section.settings.layout == 'columns' %}<div class="container">{% endif %}

  {% if section.settings.crop_image and section.settings.layout == 'columns' %}
    {% assign aspect_ratio_split = section.settings.crop_style | split: '-' %}
    {% assign aspect_ratio = 1.0 | times: aspect_ratio_split[0] | divided_by: aspect_ratio_split[1] %}
  {% else %}
    {% assign aspect_ratio = false %}
  {% endif %}

  <div class="article-list article-layout--{{ section.settings.layout }}">

    {% for article in blog.articles %}

    <div class="article" data-cc-animate>
      <div class="article__inner {% if section.settings.layout != 'columns' %}container{% endif %}">
        {% if article.image %}
        <div class="article-image">
          <a href="{{ article.url }}">
            {% render 'responsive-image', image: article.image, aspect_ratio: aspect_ratio, cover: true %}
          </a>
        </div>
        {% endif %}

        <h2>{{ article.title | link_to: article.url }}</h2>

        <div class="rte cf">
          {{ article.excerpt_or_content }}
        </div>

        <div class="meta">
          <span class="iconmeta time">
            {% if section.settings.show_date %}
              {{ article.published_at | date: format: 'month_date_year' }}
            {% endif %}
            {% if section.settings.show_author %}
              {% if section.settings.show_date %}&mdash;{% endif %}
              <span class="author">{{ article.author }}</span>
            {% endif %}
          </span>

          {% if section.settings.show_article_tags %}
          {% capture tag_markup %}
          <div class="iconmeta tags">
            <span class="label">{{ 'blogs.article.tags' | t }}:</span>
            {% for tag in article.tags %}
              {{ tag | link_to_tag: tag }}
            {% endfor %}
          </div>
          {% endcapture %}
          {% if tag_markup contains '</a>' %}{{ tag_markup }}{% endif %}
          {% endif %}
        </div>

      </div><!-- /.container -->
    </div><!-- /.article -->

    {% else %}

    <div class="container"><h5 class="align-centre fully-spaced-row">{{ 'blogs.general.no_matches' | t }}</h5></div>

    {% endfor %}
  </div>

  {% if section.settings.layout == 'columns' %}</div>{% endif %}

  <div class="container pagination-row">{% render 'pagination-control', paginate: paginate %}</div>

  {% endpaginate %}
</div>


{% schema %}
  {
    "name": "Blog pages",
    "class": "page-section-spacing",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_page_title",
        "label": "Show page title",
        "default": true
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "list",
        "options": [
          {
            "label": "List",
            "value": "list"
          },
          {
            "label": "Grid",
            "value": "columns"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_author",
        "label": "Show author",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_article_tags",
        "label": "Show tags underneath articles",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_sharing_icons",
        "label": "Show social sharing icons",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_rss_icon",
        "label": "Show RSS feed link",
        "default": true
      },
      {
        "type": "header",
        "content": "Grid layout"
      },
      {
        "type": "checkbox",
        "id": "crop_image",
        "label": "Crop featured images",
        "default": true
      },
      {
        "type": "select",
        "id": "crop_style",
        "label": "Crop style",
        "options": [
          {
            "value": "1-1",
            "label": "Square"
          },
          {
            "value": "3-4",
            "label": "Portrait"
          },
          {
            "value": "16-9",
            "label": "Landscape"
          }
        ],
        "default": "16-9"
      }
    ]
  }
{% endschema %}
