{
  "sections": {
    "main": {
      "type": "main-product",
      "blocks": {
        "title": {
          "type": "title",
          "settings": {
          }
        },
        "price": {
          "type": "price",
          "settings": {
            "show_tax_and_shipping": false
          }
        },
        "e16eb14b-0ba9-4180-a2c8-c26223761a76": {
          "type": "variant_picker",
          "settings": {
            "show_single": false,
            "show_size_chart": true,
            "size_chart_variant": "Size",
            "size_chart_page": ""
          }
        },
        "buy_buttons": {
          "type": "buy_buttons",
          "settings": {
            "show_quantity_selector": false,
            "enable_payment_button": true,
            "show_backorder_text": true,
            "show_inventory_notice": false,
            "inventory_notice_threshold": 10,
            "show_pickup_availability": true
          }
        },
        "7c523533-ebf4-4f72-8942-feda1e8fa34d": {
          "type": "text",
          "settings": {
            "text": "Includes 1 flat sheet, 1 fitted sheet and 2 Bamboo™ pillowcases.",
            "show_in_quickbuy": false
          }
        },
        "53b9131e-0d14-4933-9d13-e461d2aee351": {
          "type": "accordion",
          "settings": {
            "title": "DESCRIPTION",
            "content": "<p>Made of a satin weave of Lyocell, an eco-friendly fiber that is soft and breathable. It has a naturally smooth drape, which helps reduce wrinkles.<br\/><br\/>TENCEL™ wicks moisture 50% more effectively than cotton, temperature-regulating<br\/>and moisture-wicking, helping the body feel pleasantly cool and dry, keeping you comfortable as you sleep.<br\/><br\/>TENCEL™ fiber is extracted from wood and pulp. Its fiber is perfectly smooth compared to cotton, wool, Silky touch with a sheeny finish, gentle on the skin.<\/p>",
            "page": "",
            "open": false,
            "show_in_quickbuy": false
          }
        },
        "23c9a8d7-9888-4e4f-8842-17e80ae81f56": {
          "type": "accordion",
          "settings": {
            "title": "DETAILS",
            "content": "<p><strong>Stay Fresher <br\/><\/strong>TENCEL™ fibres have perfect moisture management which reduces bacteria proliferation without the need for any chemical additives.our TENCEL™ sheets are Oeko-Tex® certified, which means no harmful chemicals are used during the production process. <\/p><p><strong>Gentle and Comforting<br\/><\/strong>TENCEL™ is most well known for how it feels - exceptionally luxurious and smooth on the skin. With a silky smooth hand feel, it’s more gentle than regular cotton and linen, thus making it beneficial for babies, and those with sensitive skin or allergies<\/p><p><strong>Moisture wicking<br\/><\/strong>Tencel fibers are more effective than cotton in drawing moisture away from the body, resulting in a cooler, dryer, more comfortable sleep.<\/p>",
            "page": "",
            "open": false,
            "show_in_quickbuy": false
          }
        },
        "572270c6-2676-4c39-a468-53536a802d56": {
          "type": "accordion",
          "settings": {
            "title": "CARE",
            "content": "<p>1. Machine wash in cold water on gentle cycle.<br\/>2. Wash with gentle detergent, do not use bleach. Softener is not required. <br\/>3. To remove stubborn stains, we recommend using baking soda or oxygenated detergents. Harsh chemicals should be avoided. <br\/>4. Only wash Tencel fabric together and do not mix with other fabrics when washing<br\/>5. If you must touch up the garment with an iron, use a warm iron only. Too much direct heat may scorch the fabric.<br\/>6. Tumble dry on low heat.<\/p>",
            "page": "",
            "open": false,
            "show_in_quickbuy": false
          }
        },
        "063d70b1-502e-4b31-86df-aec51a199a5d": {
          "type": "accordion",
          "disabled": true,
          "settings": {
            "title": "DELIVERY",
            "content": "<p>Collapsible tab content<\/p>",
            "page": "",
            "open": false,
            "show_in_quickbuy": false
          }
        },
        "5e82091a-2123-46a2-a6aa-54f18a2fb206": {
          "type": "accordion",
          "disabled": true,
          "settings": {
            "title": "REVIEWS",
            "content": "<p>Collapsible tab content<\/p>",
            "page": "",
            "open": false,
            "show_in_quickbuy": false
          }
        },
        "06b99184-7b91-442c-87d7-6b0dffbd3607": {
          "type": "accordion",
          "disabled": true,
          "settings": {
            "title": "MATERIAL",
            "content": "<p>\"TENCEL™ Lyocell fiber is produced from sustainable hardwood forests using a closed-loop process that uses 11 times less water.<\/p><p><br\/>Certified to the Global Organic Textile Standard (GOTS) by CU 847084. GOTS is the international gold standard for organic textiles, ensuring high social and environmental standards from fiber to finished product.<br\/><br\/>Sustainably Sourced Choose recycled, reclaimed, alternative or responsibly harvested materials that meet high social and environmental standards.<\/p><p><\/p><p>Soft & Sustainable Materials<br\/>Leading a growing trend of soft, sustainable fibers from eco-friendly resources, the TENCEL™ lyocell sheets stand out with smooth hand and moisture management qualities. TENCEL™ fibers channel moisture away from the body, making it 70 percent more absorbent than cotton and temperature neutral. While bamboo has traditionally been the poster child for natural fibers, TENCEL™ lyocell sheets set a new standard in ecological production. As a botanic fiber, it is derived from FSC and PEFC wood sources in an award-winning production process.\"<br\/><br\/>OEKO-TEX STANDARD 100 CERTIFIED ORGANIC EUCALYPTUS TENCEL LYOCELL BED SHEETS<br\/>Tencel bed sheets are OEKO-TEX Standard 100 Certified Organic and non-toxic so they are safe for even the most sensitive skin. The Standard 100 certification rigorously tests for the presence of over 100 harmful chemicals and substances and provides peace of mind that you are sleeping on the highest quality fabrics available. <br\/><br\/>Small Eco-friendly footprint - TENCEL™ is made from renewable wood resources. Its production uses 10-20 times less water than cotton.<\/p>",
            "page": "",
            "open": false,
            "show_in_quickbuy": false
          }
        }
      },
      "block_order": [
        "title",
        "price",
        "e16eb14b-0ba9-4180-a2c8-c26223761a76",
        "buy_buttons",
        "7c523533-ebf4-4f72-8942-feda1e8fa34d",
        "53b9131e-0d14-4933-9d13-e461d2aee351",
        "23c9a8d7-9888-4e4f-8842-17e80ae81f56",
        "572270c6-2676-4c39-a468-53536a802d56",
        "063d70b1-502e-4b31-86df-aec51a199a5d",
        "5e82091a-2123-46a2-a6aa-54f18a2fb206",
        "06b99184-7b91-442c-87d7-6b0dffbd3607"
      ],
      "settings": {
        "show_breadcrumbs": false,
        "show_location_underneath": true,
        "inventory_transfers_enable": false,
        "gallery_size": "large",
        "prod_gall_thumbs_under": "under",
        "enable_sticky_gallery": false,
        "enable_zoom": true,
        "enable_video_looping": true
      }
    },
    "recommendations": {
      "type": "product-recommendations",
      "settings": {
        "title": "RECOMMENDED",
        "show_vendor": false,
        "grid": 3
      }
    }
  },
  "order": [
    "main",
    "recommendations"
  ]
}
<script type="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>